{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-dark bg-success navbar-expand-lg text-white ">
  <!-- Navbar content -->
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Analizar imagen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/JuanSantacruzzz/TfgFront">Github</a>
      </li>
      
    </ul>
  </div>
</nav>

  
<div class="jumbotron bg-success text-white">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-8"><p></p><h1>Herramienta de apoyo al diagnóstico de Alzheimer</h1>
      <p>Trabajo fin de grado Universidad de Sevilla.</p><p>Juan Santacruz Olías</p>  </div>
    <div class="col-md-3"><img src="/static/img/logo.png"><p></p></div>
  </div>
  </div>

</div>

{% endblock %}

{% block content %}
<div class="container-fluid bg-light">
  <div class="row">
  	<div class="col-md-1"></div>
  	<div class="col-md-10">
	    {% block contenido %}{% endblock %}
  	</div>
  </div>
</div>
    
    
{% endblock %}

{% block pie %}
  <footer class="footer fixed-bottom bg-success text-white">
    <div class="container">
      <p>Esta aplicación es un trabajo fin de grado, <B>NO</B> es una herramienta real de diagnóstico</p>
      
  </div>
  </footer>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
