{% extends "base.html" %}
{% block contenido %}

<div >
	<p class="text-justify ">
	    <h4 class="text-success">Aplicación desarrollada para detectar el alzehimer en las imágenes de diagnóstico del celebro utilizando Inteligencia Artificial.</h4>
	</p>

	<div class="container-fluid bg-success text-success" ><p> ....</p></div>
	<p class="text-justify text-success">
		<h4 class="text-success">Se ha desarrollado un modelo utilizando para ello ***** . El modelo se utiliza para realizar una clasificación de las probabilidades  para ello
	</h4>    		    	
</p>
	    
	    	
</div> 
{% endblock %}
