{% extends "base.html" %}
{% block contenido %}

<div >
	<p class="text-justify ">
	    <h4 class="text-success">Aplicación desarrollada para detectar el alzehimer en resonancias magnéticas cerebrares utilizando una Red Neuronal.</h4>
	</p>

	<div class="container-fluid bg-success text-success" ><p> ....</p></div>
	<p class="text-justify text-success">
		<h4 class="text-success">
			<p>El trabajo fin de grado ha consistido en el diseño de una red neuronal convolucional para la detección del Alzheimer en resonancias magnéticas y el desarrollo de está aplicación.</p>
			<p>
			Esta página web ofrece una aplicación al personal sanitario en la que puede subir facilmente una resonancia magnética de un paciente para  
			ser procesada por nuestro modelo. Una vez la procese, por pantalla se visualizará la imagen que ha subido el personal sanitario,
			junto a la clasificación que se ha calculado con el modelo y el mapa de calor de la imagen, mostrando en qué partes de la 
			imagen se ha fijado el modelo para dar los resultados.</p>
			
	</h4>    		    	
</p>
	    
	    	
</div> 
{% endblock %}
