{% extends "base.html" %}
{% block contenido %}


{% if preds|length > 0 %}
<div >
	<p class="text-justify "><h2 class="text-success">Resultado del análisis de la imagen {{filename}} </h2></p>
	<div class="container-fluid bg-light">
 		 <div class="row">
  			<div class="col-md-2"><img src="{{url_for('static',filename='imagenesProcesadas/')}}{{filename}}"  class="rounded mx-auto d-block"/></div>
  			<div class="col-md-8">
				<p class="text-justify ">
					<ul class="list-group"> 
						
					<h5 class="text-success">
					{% for elemento in preds -%}
						<li class="list-group-item list-group-item-primary">Hay un <b>{{'%0.2f'| format(elemento[2]*100|float)}}</b>% de no tener Alzheimer</li>
						<li class="list-group-item list-group-item-success">Hay un <b>{{'%0.2f'| format(elemento[3]*100|float)}}</b>% de tener un grado muy leve de Alzheimer</li>
						<li class="list-group-item list-group-item-warning">Hay un <b>{{'%0.2f'| format(elemento[0]*100|float)}}</b>% de tener un grado leve de Alzheimer</li>
						<li class="list-group-item list-group-item-danger">Hay un <b>{{'%0.2f'| format(elemento[1]*100|float)}}</b>% de tener un grado moderado de Alzheimer</li>
				
					{% endfor -%}
					</ul>
					</h5>
					</p>
			  </div>
		 </div>
	</div>

	

	
	    
_	
	<p class="text-justify ">
	<h2 class="text-success">Imagen resultante del mapa de calor</h2></p>
	<img src="{{url_for('static',filename='mapaCalor/')}}{{filename}}" class="rounded mx-auto d-block"/>
{% else %}
	<p>No hay resutlados></p>
{% endif %}
{% endblock %}
