{% extends "base.html" %}
{% block contenido %}
	<p></p>
	    <h2 class="text-success" >Estudio de las imágenes del celebro de un paciente</h2>
		

	<p></p>


	    {% for field, errors in form.errors.items() %}
			<div class="alert alert-danger">
    		{{ form[field].label }}: {{ ', '.join(errors) }}
			</div>
		{% endfor %}

		<form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
    		{{ form.csrf_token }}
			<h4 class="text-success">{{form.photo.label() }} </h4>
			
    		{{form.photo(class="form-photo form-control-lg") }}<br/>
			<br/>
			<button type="submit" class="btn btn-success">Enviar</button>
		</form>
	    
  
{% endblock %}
